@import "./variables";
//

.header {
  width: 100%;
  background-color: $background_gray;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 20px;

  .sub-title {
    font-size: $main_font_size;
    color: $green_darken_2;
  }
}
