@mixin active-tab {
  cursor: pointer;
  background-color: white;
  color: $gray_darken_2;
}

.iconic-tabs {
  background-color: $background_gray;

  ul {
    font-size: $main_font_size;

    li {
      display: inline-block;
      padding: 20px;
      background-color: $gray_lighten_2;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      margin-left: 30px;
      min-width: 213px;
      max-width: 213px;

      &:hover,
      &.active {
        @include active-tab();
      }

      .tab-item {
        display: flex;
        justify-content: center;
        .tab-title {
          margin-right: 3px;
        }
      }
    }
  }
}
