@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin active-file-uploader {
  border: 1px solid $primary_color !important;
  .file-btn {
    background-color: $primary_color !important;
    color: white !important;
    border: 1px solid $primary_color !important;
    border-left: 0;
    border-top: 0;
  }
}

@mixin warning-file-uploader {
  border: 1px solid red !important;
  .file-btn {
    background-color: $gray_lighten_3 !important;
    color: red !important;
    border: 1px solid red !important;
    border-left: 0;
    border-top: 0;
  }
}
