@media only screen and (max-width: 768px) {
  body {
    // background-color: pink;
  }

  .main-title {
    font-size: 24px;
  }

  .header {
    align-items: flex-start;
    .sub-title {
      font-size: $mobile_main_font_size;
    }
  }

  .main-container {
    width: 85%;
  }

  .iconic-tabs {
    padding-bottom: 30px;
    ul {
      font-size: $mobile_main_font_size;
      overflow-x: visible;
      display: flex;

      li {
        padding: 9px;
        background-color: $primary_color;
        color: white;
        border-radius: 12px;
        min-width: 134px;
        margin-left: 12px;

        &:hover,
        &.active {
          background-color: $primary_light_color;
          color: $primary_color;
        }

        .tab-icon {
          display: none;
        }
      }
    }
  }

  #section-1 {
    .content {
      padding: 20px;
      ul {
        li {
          background-color: #e7ecf4;
          border-radius: 12px;
          padding: 10px;
          margin-bottom: 10px;

          .menu-text::before {
            content: "";
          }

          &.active {
            background-color: white;
          }
        }
      }

      .menu-details {
        .title-list {
          flex-direction: column;
          padding: 10px;

          .title-card {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        .description {
          margin: 0 10px;
          padding: 30px;
          border: 1px solid $gray_lighten_2;
          border-radius: 12px;
          ul {
            padding: 20px 0;
            li {
              padding: 10px 0;
              background-color: white;
              margin-bottom: 0;
            }
          }
        }

        .menu-link {
          margin: 10px;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;

          .link-container {
            // flex-direction: column;
          }
          .author {
            display: none;
          }

          .suggestion-btn {
            display: block;
            background-color: $primary_color;
            color: white;
            border-radius: 12px;
            border: none;
            width: 100%;
            height: 40px;
            margin: 10px auto;
          }
        }
      }
    }
  }
}
