@media only screen and (max-width: 426px) {
  body {
    background-color: pink;
  }

  .main-title {
    font-size: 24px;
  }

  .header {
    align-items: flex-start;
    .sub-title {
      font-size: 14px;
    }
  }
}
