$container_width: 1140px;
$background_gray: #f5f7fa;
$primary_color: #20c5ba;
$green_lighten_2: #0e7571;
$green_darken_1: #155a6d;
$green_darken_2: #0b3a42;
$green_darken_3: #033432;
$gray_lighen_1: #9db0cb;
$gray_lighen_2: #697d9a;
$gray_lighen_3: #6a7d9b;
$gray_darken_1: #253343;
$gray_darken_2: #042623;
$silver_lighen_1: #6e6e6e;
$silver_lighen_2: #585858;
$silver_lighen_3: #4d4d4d;
