@import "./_fonts";
@import "./variables";
@import "./header.scss";

//
html,
body {
  height: 100%;
  font-family: YekanBakh;
  font-weight: normal;
}

.wrapper {
  height: 100%;
  background-color: $background_gray;
}

.main-container {
  height: 100%;
  width: $container_width;
  margin: 0 auto;
  background-color: white;
}
