@import "./_fonts";
@import "./_variables";
@import "./mixins";
@import "./_header.scss";
@import "./iconic_tabs";
@import "./section_1";
@import "./section_2";
@import "./section_3";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

html,
body {
  font-family: YekanBakh;
  font-weight: normal;
  font-size: $main_font_size;
}

.wrapper {
  height: 100%;
  background-color: $background_gray;
}

.main-container {
  height: 100%;
  width: $container_width;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.main-title {
  color: $green_darken_3;
  font-size: 40px;
}

.custom-title {
  color: $gray_darken_4;
  font-size: 16px;
  font-weight: bold;
}

.icon-wrapper {
  background-color: $gray_lighten_2;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  @include flex-center();

  .icon-container {
    width: 39px;
    height: 39px;
    border-radius: 8px;
    background-color: $primary_color;
    @include flex-center();

    .fa-chevron-down {
      color: white;
    }
  }
}

.active-file-x {
  @include active-file-uploader;
}

.warning-file {
  @include warning-file-uploader;
}

.w100 {
  width: 100%;
}
.w80 {
  width: 80%;
}
.w50 {
  width: 50%;
}
.w20 {
  width: 20%;
}
