@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/YekanBakh-Regular/YekanBakh-Regular.eot") format("eot"), url("../../assets/YekanBakh-Regular/YekanBakh-Regular.ttf") format("ttf"), url("../../assets/YekanBakh-Regular/YekanBakh-Regular.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/YekanBakh-Bold/YekanBakh-Bold.eot") format("eot"), url("../../assets/YekanBakh-Bold/YekanBakh-Bold.ttf") format("ttf"), url("../../assets/YekanBakh-Bold/YekanBakh-Bold.woff") format("woff"); }

.header {
  background-color: #f5f7fa;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 54px;
  padding-bottom: 20px; }
  .header .main-title {
    color: #0b3a42;
    font-size: 40px; }
  .header .sub-title {
    font-size: 18px;
    color: #155a6d; }

.iconic-tabs {
  background-color: #f5f7fa; }
  .iconic-tabs ul {
    list-style: none;
    font-size: 18px; }
    .iconic-tabs ul li {
      display: inline-block;
      padding: 20px;
      background-color: #e7ecf4;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      margin-left: 30px;
      min-width: 213px;
      max-width: 213px; }
      .iconic-tabs ul li:hover {
        cursor: pointer;
        background-color: white;
        color: #6a7d9b; }
      .iconic-tabs ul li.active {
        cursor: pointer;
        background-color: white;
        color: #6a7d9b; }
      .iconic-tabs ul li .loader-icon {
        display: none; }
      .iconic-tabs ul li .tab-item {
        display: flex;
        justify-content: center; }
        .iconic-tabs ul li .tab-item .tab-title {
          margin-right: 3px; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: YekanBakh;
  font-weight: normal; }

.wrapper {
  height: 100%;
  background-color: #f5f7fa; }

.main-container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  background-color: white; }
